
.vs/abet/v15/Browse.VC.db
.vs/abet/v15/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/abet/v15/.suo
.vs/VSWorkspaceState.json
.vs/abet/v15/ipch/AutoPCH/c0ceb75b9e9b6c9a/INIT.ipch
.vs/abet/v15/ipch/AutoPCH/c1252be2bbf840fd/RPCBLOCKCHAIN.ipch
.vs/abet/v15/ipch/AutoPCH/1d461d2bfe53ba68/SWITCH_CASE.ipch
.vs/abet/v15/ipch/AutoPCH/7d30c8d1bdb1fa7a/PCH.ipch
